body,
html {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-image: url(img/back.jpg);
}

.inputfile {
    color: blueviolet;
    padding: 100px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    color: blue;
    text-align: center;
    text-emphasis: bold;
    font-size: 30px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    color: red;
    text-align: center;
    text-emphasis: bold;
    font-size: 30px;
}

p {
    color: black;
    font-weight: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.txt,
.abc,
select,
form>div {
    display: block;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    color: black;
}

.txt,
.abc {
    width: 80%;
    color: black;
    background-color: greenyellow;
}

select {
    width: 83%;
    color: darkgreen;
}

form>div {
    width: 81%;
    color: blueviolet;
}

.txt,
.abc form>div {
    margin-bottom: 10px;
    overflow: auto;
}

.clearfix {
    clear: both;
}

label {
    float: left;
    width: 10%;
    line-height: 1.5;
    color: red;
}

.rate-value,
.pitch-value {
    float: right;
    width: 5%;
    line-height: 1.5;
    color: blue;
}

#rate,
#pitch {
    float: right;
    width: 81%;
    color: greenyellow;
}

.controls {
    text-align: center;
    margin-top: 10px;
    color: black;
}

.controls button {
    padding: 10px;
    color: blue;
}

.play {
    color: green;
}